<div class="row centered-profile">
  <div class="col-md-4">
    <%= image_tag("http://placehold.it/300x300") %>
  </div>
  <div class="col-md-8">
    <h2><%= full_name %></h2>
    <h3><%= @user.username %></h3>
    <div class="row">
      <div class="col-xs-2">
        <h6><%= link_to "Public Profile Link", request.url %></h6>
      </div>
      <div class="col-xs-2">
        <h6><%= link_to "Edit Account", edit_user_registration_path %></h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 shared-count">
        <h4>Articles</h4>
        <h5>1<%#= @user.articles.count  %></h5>
        <%# IDEA: counter for number of articles belonging to user %>
      </div>
      <div class="col-xs-3 follower-count">
        <div class="stats">
          <h4>Followers</h4>
          <h5>2</h5>
        </div>
      </div>
      <div class="col-xs-3 favorite-count">
        <div class="stats">
          <h4>Favorites</h4>
          <%# IDEA: counter for favorites go here %>
          <h5>24</h5>
        </div>

      </div>
    </div>
  </div>
</div>
